.about-us-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    grid-gap: 10px;
}

.about-us-left p{
    font-size: 14px;
}

.about-us-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.about-us-right img{
    height: 140px;
    border-radius: 10px;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .about-us-section{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    
}