.about-us-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    grid-gap: 10px;
}

.about-us-left p{
    font-size: 13px;
}

.about-us-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.about-us-right img{
    height: 140px;
    border-radius: 10px;
}