.banner-section{
    position: relative;
}

.banner-img{
    height: 550px;
}

.explore-btn{
    position: absolute;
    bottom: 100px;
    left: 120px;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .explore-btn{
        bottom: 370px;
    }
    
}